body{
    font-family: Verdana, serif;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: #e62b2b;
    color: white;
    border-style: none;
}
#myButton:hover{
    background-color: #b30606;
}

.myLabels{
    font-size: 3em;
}