body{
    font-family: Arial,sans-serif;
    background-color: #efefef;
}

h1{
    color: #4a4af1;
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

#textBox{
    width: 50%;
    text-align: center;
    color: rgba(0, 0, 0, 0.62);;
    font-size: 2em;
    border: 2px solid rgba(14, 14, 14, 0.43);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.62);
}

button{
    margin-top: 15px;
    background-color: #f10c0c;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #c11010;
}

#result{
    font-size: 1.75em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.62);
}